{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'buttons.css'%}" /> 
    <title>Lobby Page</title>
</head>

<body>
    <form action="leave_lobby" method="post">
        {% csrf_token %}
        <button class="leave-btn" type="submit">
            <span>Leave lobby</span>
        </button>
        <input type="hidden" name="lobby_id" value="{{ lobby_id }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">
    </form>

    <script type="text/javascript">

        if (!localStorage.getItem('user_id')) {
            // If not, store the generated user ID in local storage
            localStorage.setItem('user_id', '{{ user_id }}');
        }

        let url = `ws://${window.location.host}/ws/sender/`
        const controlSocket = new WebSocket(url)

        controlSocket.onopen = function(e) {
            controlSocket.send(JSON.stringify({
                'message_type': 'connected_controller', 
                'user_id':  "{{ user_id }}", 
                'lobby_id': "{{ lobby_id }}"}))
        }

        function send_direction(dir) {
            controlSocket.send(JSON.stringify({'message_type': 'movement','direction': dir, 'lobby_id': "{{ lobby_id }}"}))
        }
    </script>

    <div id="game-buttons">
        <div class="btn-row ">
        <div id="up-btn" class="game-btn" onclick="send_direction('up')"></div>
    </div>
        <div class="btn-row middle">
            <div id="left-btn" class="game-btn" onclick="send_direction('left')"></div>
            <div id="right-btn" class="game-btn" onclick="send_direction('right')"></div>
        </div>
        <div class="btn-row">
        <div id="down-btn" class="game-btn" onclick="send_direction('down')"></div>
    </div>
    </div>
</body>
</html>