{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'screen.css'%}" />
  <!-- <link rel="stylesheet" href="{% static 'styles_landing.css'%}"> -->
  <!-- <link rel="stylesheet" href="{% static 'buttons.css'%}"> -->
    <title>Cosmic Co-Pilot {{ lobby }} </title>

</head>
<body style="background-color: black">
    <!-- Game canvas -->
    <canvas id="canvas" width="1920" height="1080"></canvas>    
    <script src= "{% static 'screen.js' %}" >  </script>
</body>

<script>
  
let url = `ws://${window.location.host}/ws/sender/`
const ws = new WebSocket(url)

ws.onmessage = function(e) {
    let data = JSON.parse(e.data)
    console.log("data: ", data)
}

ws.onopen = function(e) {
  ws.send(JSON.stringify({
                'message_type': 'game_screen_connected', 
                'lobby_id': "{{ lobby_id }}"}))
        }
</script>

</html>