
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lobbies</title>
  <link rel="stylesheet" href="{% static 'main-style.css'%}">
  <link rel="stylesheet" href="{% static 'buttons.css'%}">
</head>

<body>
  <h1 id="title">Active lobbies</h1>
  <div class="container">
    {% for lobby in lobbies  %}
    <li>
        <form action="join_lobby" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="lobby_id" value="{{ lobby }}">
            <button class="lobby-btn" type="submit">Join Lobby {{ lobby }} </button>
        </form>
    </li>
    {% endfor %}
    
  </div>
  <form action="create_lobby" method="post">
      {% csrf_token %}
      <button class="leave-btn create-lobby" type="submit"><span>Create new lobby</span></button>
  </form>

</body>
</html>