
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoName</title>
  <link rel="stylesheet" href="{% static 'styles_landing.css'%}">
  <link rel="stylesheet" href="{% static 'buttons.css'%}">
</head>
<body>
  <div class="container">
    <h1>Code/link you have joined with: </h1>
    <label>text </label>
    <h2>Players in session: </h2>
    <label>text </label>
    <h2> </h2>
    <button type="submit">Begin</button>
    
  </div>

</body>
</html>