{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'buttons.css'%}" /> 
    <link rel="stylesheet" href="{% static 'style_waitroom.css'%}" /> 
    <title>Lobby Page</title>
</head>
<body>
  
  
  <div class="container">
    <h1>Your code: </h1>
    <p class="code">{{ lobby.id }} </p>
    <h2>Current players count: </h2>
    <p class="players-num" id='player-counter'> {{ lobby.players | length }} </p>

    <form action="cosmic_co-pilot" method="post">
      {% csrf_token %}
      <button class="leave-btn" type="submit"><span>Start game</button>
    </form>

  </div>


  <script>
        let url = `ws://${window.location.host}/ws/sender/`
        const wb = new WebSocket(url)

        wb.onopen = function(e) {
          wb.send(JSON.stringify({
              'message_type': 'waiting_screen_connected',  
              'lobby_id': "{{ lobby.id }}"}))
        }

        wb.onmessage = function(e) {
          let data = JSON.parse(e.data)
          console.log("data: ", data)

          if (data['event_type'] == 'players_count_changed') {
            let counter = document.getElementById("player-counter");
            counter.textContent = data['count']
          }

        }
  </script>

</body>
</html>