@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil+Text:wght@100..900&family=Orbitron:wght@400..900&family=Truculenta:opsz,wght@12..72,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

html {
    /* font-family: "Yanone Kaffeesatz", sans-serif; */
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Orbitron", sans-serif;
    color: white ;
    justify-content: center;
    display: flex;
    text-align: center; 
    margin-right: 20px;
}

body{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white ;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 20vh;
}

.code {
    font-size: 50px;
}

#players-num {
    font-size: 70px
}

.player-card {
    background-color: #222222;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.player-ready {
    background-color: #00ff00;
}

.player-not-ready {
    background-color: #ff0000;
}