body{
    justify-content: center;
    background-image: url("../static/console-background.png");
}
@media (min-width:480px)  { 
    #game-buttons {
        align-items: center;
        margin: 5%;
    }

    #up-btn {
        margin-bottom: 25px;
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 50px solid #555;
    }
    #up-btn:active, #up-btn:hover {
        border-bottom: 50px solid #cb3838;
    }
    #down-btn {
        margin-top: 25px;
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-top: 50px solid #2a9297;
    }
    #down-btn:active, #down-btn:hover{
        border-top: 50px solid #cb3838;
    }
    
    #left-btn {
        width: 0;
        height: 0;
        border-top: 27px solid transparent;
        border-right: 90px solid #555;
        border-bottom: 27px solid transparent;
    }

    #left-btn:active, #left-btn:hover{
        border-right: 90px solid #cb3838;
    }

    #right-btn {
        width: 0;
        height: 0;
        border-top: 27px solid transparent;
        border-left: 90px solid #555;
        border-bottom: 27px solid transparent;
    }

    #right-btn:active, #right-btn:hover{
        border-left: 90px solid #cb3838;
    }

    .btn-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .game-btn {
        margin: 0 auto;
        filter: drop-shadow(7px 5px 5px #2c2c31); 
        transform: translate(0px, 0px) rotate(0deg);
        transition: 0.2s;
        /* box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%); */
        transition: all 0.2s ease-in-out;
    }
    .game-btn:hover{
        filter: drop-shadow(10px 5px 5px #542b25); 
    }
}

.leave-btn {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 2px solid #ffffff;
    background: #000000;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
    color:#ffffff;
   }
   
   .leave-btn:before, .leave-btn:after {
    content: "";
    position: absolute;
    background: #000000;
    transition: all .2s linear;
   }
   
   .leave-btn:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
   }
   
   .leave-btn:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
   }
   
   .leave-btn:hover {
    cursor: crosshair;
    color:#cb3838;
    border: 2px solid #cb3838;
   }
   
   .main-btn:hover, .main-btn:active { 
    color:#ffffff;
    border: 2px solid #ffffff;
   }

   .leave-btn:active {
    transform: scale(0.95);
    color:#cb3838;
    border: 2px solid #cb3838;
   }
   
   .leave-btn:hover:before {
    height: calc(100% - 32px);
    top: 16px;
    
   }
   
   .leave-btn:hover:after {
    width: calc(100% - 32px);
    left: 16px;
    
   }
   
   .leave-btn span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
   }

   /* buttons for the lobby */

   .lobby-btn {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-bottom: 5px;
  }
  
  .lobby-btn:focus,
  .lobby-btn:hover, .lobby-btn:focus:active {
    color: #4964d1;
  }
  
  .lobby-btn:focus:after,
  .lobby-btn:hover:after, .lobby-btn:focus:hover:active {
    width: 100%;
    left: 0%;
  }
  
  .lobby-btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .create-lobby {
    margin: 10px;
  }