@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil+Text:wght@100..900&family=Truculenta:opsz,wght@12..72,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil+Text:wght@100..900&family=Orbitron:wght@400..900&family=Truculenta:opsz,wght@12..72,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
html{
    /* font-family: "Truculenta", sans-serif; */
    font-family: "Orbitron", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('../static/im2.png'); 
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    
  }

  h1, h2, h3, h4 {
    text-align: center; 
    color: #fff; 
    font-size: 2em; /* Adjust font size as needed */
    text-shadow: 2px 2px 0 #FF8C00; 
    font-family: "Orbitron", sans-serif;
    margin: 3%;
  }
  
  h1 {
    /* font-size: 7em; 
    margin-top: 17vh;  */
    font-size: 8vw;
    margin-top: 12vh;
  }
  
  h2, h3 {
    /* font-size: 4em;  */
    font-size: 3vw;
  }
  h3 {
    margin: 3%;
    margin-top: 5%;
  }

  /* for the input tag */
  input[type="text"] {
    width: 40%; 
    padding: 13px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    color: #fff; 
    background-color: #03102c95; 
    text-align: center; 
    margin-right: 20px;
    display: block; /* Ensure block-level display */
  }

  /* placeholder text */
  input[type="text"]::placeholder {
    color: #999;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    
  }

  /* Hover effect */
  input[type="text"]:hover {
    border-color: #80c2f8;
    filter: drop-shadow(2px 4px 6px #073363a4)
    
  }

  /* Focus effect */
  input[type="text"]:focus {
    outline: none;
    border-color: #268dfc;
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 80px; /* Adjust the space between buttons */
    margin-top: 6vh;
  }


  /* buttons */
  .request-btn {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 3px solid #ffffff;
    background: #03102c;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
    color:#ffffff;
   }
   
   .request-btn:before, .request-btn:after {
    content: "";
    position: absolute;
    background: #03102c;
    transition: all .2s linear;
   }
   
   .request-btn:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
   }
   
   .request-btn:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
   }
   
   .request-btn:hover {
    cursor: crosshair;
    color:#cb3838;
    border: 2px solid #cb3838;
   }
   
   .request-btn:hover, .request-btn:active { 
    color:#ffffff;
    border: 2px solid #ffffff;
   }

   .request-btn:active {
    transform: scale(0.95);
    color:#cb3838;
    border: 2px solid #cb3838;
   }
   
   .request-btn:hover:before {
    height: calc(100% - 32px);
    top: 16px;
    
   }
   
   .request-btn:hover:after {
    width: calc(100% - 32px);
    left: 16px;
    
   }
   
   .request-btn span {
    font-size: 23px;
    z-index: 3;
    position: relative;
    font-weight: 600;
   }

  .container {
    padding: 20px; /* Add padding or margin as needed */
  }

  .link-code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* join button */
 /* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(253, 253, 253, 0.6);
  --animation-color: #ffffff;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  /* font-family: "Arial"; */
  font-family: "Orbitron", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text, .button:active .hover-text {
  width: 100%;
  filter: drop-shadow(0 5px 23px var(--animation-color))
}

/* FOR PHONE */
/* 
@media (min-width:480px)  { 
  h1 {
    font-size: 50px; 
    margin-top: 5%; 
  }
  
  h2 {
    font-size: 25px; 
  }
} */

.host-game {
  display: flex;
  flex-direction: row;
    justify-content: center;
}

@media (min-width:1000px)  { 
  /* h3{
    margin: 0;
    margin-top: 4%;
  } */
  .host-game {
    display: block;
  }
}
